<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <h1>You are [{{username}}]</h1>
        <h1>Login Successfully</h1>
        <a href="/logout"><button>Logout</button></a>
        <a href="/personal"><button>Personal</button></a>
        <a href="/change"><button>Change Password</button></a><br>
        <a href="/blog"><button>I Want To Blog</button></a>
        <a href="/video"><button>Upload Video</button></a><br>
        <a href="/view"><button>Look All Blogs</button></a>
        <a href="/mywork"><button>Look My Blog</button></a>
        <a href="/view_video"><button>Look Videoes</button></a>
        <a href="/view_Collection"><button>Look Collection</button></a>
    </body>
</html>