<html>
    <head>
        <script>
            function a(id_num){
                return("/browse_video/"+id_num)
            }
        </script>
    </head>
    <body>
        <h1>Here are Whole works in this station</h1>
        <a href="/Main"><button>Back To Main</button></a><br>


        {% for i in blog %}
            <a href="" id=blog{{loop.index}}> {{loop.index}} {{i}}</a>
            <script>
                document.getElementById('blog{{loop.index}}').setAttribute('href',a({{loop.index}}))
            </script>
            <br>
            <br>
        {% endfor %}
        
    </body>
</html>